config SND_SOC_IIT_GLA
	tristate "Board sound support for Glassense"
	depends on SND_SOC_ADI
	select SND_SOC_ADI_AXI_I2S
	help
      Audio support Glassense.

config SND_SOC_IIT_SSM2518
	tristate "Board sound support ssm2518"
	depends on SND_SOC_ADI
	depends on I2C
	select SND_SOC_ADI_AXI_I2S
	select SND_SOC_SSM2518
	help
      Audio support for various reference designs by Analog Devices.
